/* Contenedor */
.member-card-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 2vw;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 16vh;
}

/*  cada card */
.member-card {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    position: relative; /* asegura que el desenfoque se aplique solo a los hijos */
}

/* las imágenes dentro de cada card */
.member-card img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease-in-out; 
}

/* desenfoque a todas las cards */
.member-card-container:hover .member-card {
    filter: blur(3px); 
}

.member-card-container .member-card:hover {
    filter: blur(0);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    transform: translateY(-10px); 
}   

.member-card-container .member-card:hover img {
    filter: blur(0);
}

.button-link {
    text-decoration: none; 
    color: inherit; 
}

.button-link button {
    background-color: #FFCDF2;
    border: transparent;
    border-radius: 10px;
    padding: .5em 4em;
    color: black;
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
}

.button-link button:hover {
    background-color: #ff8edb; 
}

/* Responsive design */
@media (max-width: 768px) {
    .member-card-container {
        gap: 1.5vw;
        margin-top: 10vh;
    }

    .member-card {
        width: 200px; 
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .nav-logo {
        width: 45px;
    }

    nav ul {
        flex-direction: column;
        gap: 0.5em;
        text-align: center;
    }

    .main-logo {
        width: 70%;
        max-width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 160px;
        padding-bottom: 100px;
    }

    main {
        font-size: 4vw;
    }
}

@media (max-width: 480px) {
    .member-card-container {
        gap: 1vw;
        margin-top: 5vh;
    }

    .member-card {
        width: 180px; 
    }

    header {
        height: 8vh;
    }

    .nav-logo {
        width: 35px;
    }

    .about-us {
        padding: .5em 0.5em;
        font-size: 12px;
    }

    .main-logo {
        width: 80%;
        max-width: 150px;
    }

    main {
        font-size: 5vw;
    }

    nav ul {
        gap: 0.5em;
        font-size: 14px; 
    }
}
